html {
    /* body won't work ¯\_(ツ)_/¯ */
    scroll-snap-type: y mandatory;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    background-color: white;
    font-weight: 300;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

#landing-page {
    background-color: white;
    height: 100vh;
}

#background-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30vw;
    z-index: 1;
}

#logo {
    width: 100px;
    vertical-align: baseline;
}

.container-page {
    margin: 0 100px;
    padding: 100px 0;
    height: 100%;
}

#company-name {
    margin-left: 20px;
    font-size: 80px;
    vertical-align: baseline;
    font-weight: 400;
}

.typewrite {
    color: black;
    text-decoration: none;
}

.typewrite:hover {
    color: #1229f2;
}

.terminal-text {
    width: 70vw;
    position: absolute;
    top: 40vh;
    font-size: 100px;
    font-weight: 200;
    z-index: 2;
}

#arrow, #arrow2 {
    font-size: 60px;
    -webkit-text-stroke: 7px white;
    animation: pulse 5s ease infinite alternate;
    position: absolute;
    bottom: 50px;
}

@keyframes pulse {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }

}

.circle-steps, .arrow-steps {
    width: 36px;
    vertical-align: middle;

}

.steps-text, .faq-question, .faq-answer {
    font-size: 40px;
    vertical-align: middle;
}

.faq-answer {
    font-size: 35px;
}


.faq-question{
    font-size: 43px;
    font-weight: 600;
}